.landing {
  height: 100vh;
  overflow: hidden;
  // background: black;
  // background-image: url('../media/su-san-lee-E_eWwM29wfU-unsplash.jpg');
  // background-position: 85%;
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-size: cover;
}

.landing-video-bg {
  position: fixed;
  // position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-height: auto;
  z-index: -1;
}

.landing-content {
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  clip-path: polygon(0px 0px, 100% 0px, 100% 25%, 0% 40%);
}

.landing-content-container {
  filter: drop-shadow(-1px 6px 3px black);
}

.landing-content p {
  color: red;
  font-weight: 800;
  font-size: 18vw;
  text-align: center;
  margin: 0;
  top: 2%;
  position: relative;
  line-height: 115%;
}

@media screen and (min-width: 600px) {
  .landing-video-bg {
    filter: brightness(60%);
  }
  .landing-content {
    clip-path: none;
    background: none;
  }
  .landing-content-container {
    filter: drop-shadow(0 0 5px black);
  }
  .landing-content p {
    color: rgba(255, 0, 0, 0.8);
    top: 10%;
  }
}

.landing-arrows {
  position: absolute;
  left: 50%;
  bottom: 5%;
}
.landing-arrows span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.landing-arrows span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
